// Variables
:root {
  --main-color: #f5f5f5;
  --header-color: #ffffff;
  --footer-color: #2f303a;
  --action-color: #2196f3;

  // FONTS
  --font-main-color: #757575;
  --font-submain-color: #212121;

  // BUTTONS
  --button-passive-color: #f5f4fa;

  //  Others
  --anima-duration: 250ms;
  --anima-function: cubic-bezier(0.4, 0, 0.2, 1);
  // GRIDS
  --indent: 30px;
  --items: 3;
}
