.advences.section {
  padding-bottom: 0;
  // margin: 0 auto;
}

.advences__subtitle {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.advences__list {
  // width: 450px;

  @media screen and (min-width: 768px) {
    width: 738px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}

.advences__item {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (3 * 30px)) / 4);
  }
}

.advences__image {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.advences__description {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;


  @media screen and (min-width: 480px) {
  width: 450px;
  }

  @media screen and (min-width: 768px) {
  width: 354px;
  }

  @media screen and (min-width: 1200px) {
  width: 270px;
  }
}
