.contacts {
  display: none;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px){
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 40px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--font-main-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--anima-duration);
  transition-timing-function: var(--anima-function);

  &:hover,
  &:focus {
    color: var(--action-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  transition-property: fill;
  transition-duration: var(--anima-duration);
  transition-timing-function: var(--anima-function);

  &:hover,
  &:focus {
    fill: var(--action-color);
  }
}

.contacts__icon--mail {
      width: 16px;
    height: 12px;

  @media screen and (max-width: 1199px) {
    position: absolute;
    top: 0;
    left: -24px;
    width: 14px;
    height: 10px;
  }
}

.contacts__icon--phone {
  @media screen and (max-width: 1199px) {
    position: absolute;
    top: 0;
    left: -18px;
    width: 10px;
    height: 14px;
  }
}
