.examples.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));

  transition-property: box-shadow;
  transition-duration: var(--anima-duration);
  transition-timing-function: var(--anima-function);

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.examples__thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.examples__overflow {
  position: absolute;
  left: 0;
  bottom: -100%;

  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  text-align: left;

  color: var(--header-color);

  background: rgba(33, 150, 243, 0.9);

  transition-property: transform, opacity;
  transition-duration: var(--anima-duration);
  transition-timing-function: var(--anima-function);

  .examples__item:hover & {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.examples__data {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.examples__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.examples__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
