.our-team {
  background-color: var(--button-passive-color);
}

.our-team__list {
  // display: flex;
  // flex-direction: row;
  // gap: 30px;
}

.our-team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__description {
  padding: 30px 0;
}

.our-team__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}
