.accept {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.accept__checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  margin: -5px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
}

.accept__input {
  display: inline-block;
  min-width: 16px;
  height: 15px;

  margin-right: 9px;

  background-image: url(../images/homepage/checkbox/check-empty.svg);
  background-size: contain;
  background-repeat: no-repeat;

  transition: background-image var(--anima-duration) var(--anima-function);

  .accept__checkbox:checked + & {
    background-image: url(../images/homepage/checkbox/icon-check.svg);
  }
}

.accept__checkbox--disc {
  user-select: none;
  font-size: 12px;
  line-height: calc(14 / 12);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.accept__link {
  color: var(--action-color);
  text-decoration: underline;
}

.submit__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: #ffffff;
  padding: 10px 52px;

  background: var(--action-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--anima-duration) var(--anima-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
    border: none;
    cursor: pointer;
  }
}
