.logo {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);

    margin-right: 92px;
  }

  &__name--blue-web {
    color: var(--action-color);
  }

  &.link {
    padding: 16px 0;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 26px 0;
    }
  }
}
