.nav {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    gap: 88px;
  }

  @media screen and (min-width: 1200px) {
    gap: 93px;
  }
}

.nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 32px 0;
  }
}

.nav__link {
  color: var(--font-submain-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--anima-duration);
  transition-timing-function: var(--anima-function);

  &:hover,
  &:focus {
    color: var(--action-color);
  }
}
